<div id="wrapper">
	<section>
		<img src="../img/beth.jpg" alt="Photograph of Beth" class="profile-photo">
		<h3>ABOUT</h3>
		<p>Hello, I'm Liz McKoy and this is my design portfolio where I share all of my cats. I enjoy playing games, hardwork, eating good food, and more.</p>
		<p>If you would like to follow me on facebook and maybe become friends, my Facebook is <a href="https://www.facebook.com/digital.beth">Liz</a></p>
	</section>
</div>