<div id="wrapper">
	<section id="primary">
		<h3>Genreal Information</h3>
		<p>I am currently looking for new cats and ruby programing work.</p>
		<p>Please only use phone number never.</p>
	</section>
	<section id="secondary">
		<h3>Contact Details</h3>
		<ul class="contact-info">
			<li class="phone">
				<a href="tel:442-0204">442-0204</a>
			</li>
			<li class="mail">
				<a href="mailto:elisabeth.mckoy@gmail.com">Elisabeth.McKoy@gmail.com</a>
			</li>
			<li class="facemail">
				<a href="https://www.facebook.com/messages/digital.beth">Liz</a>
			</li>
		</ul>
	</section>
</div>