<div id="wrapper">
	<section>
		<ul id="gallery">
			<li>
				<a href="../img/numbers-01.jpg">
					<img src="../img/cat_1.jpg" alt="">
					<p>Cat.</p>
				</a>
			</li>
			<li>
				<a href="../img/cat_2.jpg">
					<img src="../img/cat_2.jpg" alt="">
					<p>Meow.</p>
				</a>
			</li>
			<li>
				<a href="../img/cat_3.jpg">
					<img src="../img/cat_3.jpg" alt="">
					<p>Cats.</p>
				</a>
			</li>
			<li>
				<a href="../img/cat_4">
					<img src="../img/cat_4.jpg" alt="">
					<p>More cats.</p>
				</a>
			</li>
			<li>
				<a href="../img/cat_5.jpg">
					<img src="../img/cat_5.jpg" alt="">
					<p>So many cats.</p>
				</a>
			</li>
			<li>
				<a href="../img/cat_6.jpg">
					<img src="../img/cat_6.jpg" alt="">
					<p>It keeps going.</p>
				</a>
			</li>
			<li>
				<a href="../img/cat_7.jpg">
					<img src="../img/cat_7.jpg" alt="">
					<p>Silly.</p>
				</a>
			</li>
			<li>
				<a href="../img/cat_8.jpg">
					<img src="../img/cat_8.jpg" alt="">
					<p>Cute.</p>
				</a>
			</li>
		</ul>
	</section>	
</div>
